@charset "UTF-8";

@media screen and (min-width: 768px) {
  i#burguer {
    display: none;
  }

  menu {
    display: block;
  }

  menu > ul > li {
    display: inline-block;
  }

  main {
    width: 750px; /* fiz diferente do Guanabara que fez com 768px */
  }

}